<div class="container mt-4" style="width:500px;">

  <div class="dropdown mx-auto" style="display: inline;">
    <button class="sort btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
      排序
    </button>
    <div class="sort-down mt-2 dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/sort/name-asc">家居物業</a>
      <a class="dropdown-item" href="/sort/name-desc">交通出行</a>
      <a class="dropdown-item" href="/sort/rating-desc">休閒娛樂</a>
      <a class="dropdown-item" href="/sort/rating-asc">餐飲食品</a>
      <a class="dropdown-item" href="/sort/rating-asc">其他</a>
    </div>
  </div>

  <div class="total-box mt-3">
    <p class="float-left">總金額：</p>
    <div class="total float-right">25260</div>
  </div>

  <!--支出data-panel-->
  <div class="expense">

    <ul class="list-group">
      {{#if records}}
      {{#each records}}
      <li class="list-group-item">
        <div class="row">
          <div class="col-1 mt-1">
            <i class="fas fa-home"></i>
          </div>
          <div class="col-7 column">
            <div>{{this.name}}</div>
            <div class="date">{{this.date}}</div>
          </div>
          <div class="col-1 mt-1">
            {{this.amount}}
          </div>
          <div class="col-1 mt-1">
            <button type="button" class="ex-btn btn btn-info">edit</button>
          </div>
          <div class="col-1 ml-2 mt-1">
            <button type="button" class="ex-btn btn btn-danger">delete</button>
          </div>
        </div>
      </li>
      {{/each}}
      {{/if}}
      <li class="list-group-item list-group-item-secondary">
        <div class="row">
          <div class="col-1 mt-1">
            <i class="fas fa-home"></i>
          </div>
          <div class="col-7 column">
            <div>午餐</div>
            <div class="date">2019/04/20</div>
          </div>
          <div class="col-1 mt-1">
            60
          </div>
          <div class="col-1 mt-1">
            <button type="button" class="ex-btn btn btn-info">edit</button>
          </div>
          <div class="col-1 ml-2 mt-1">
            <button type="button" class="ex-btn btn btn-danger">delete</button>
          </div>
        </div>
      </li>

    </ul>



  </div>



</div>