/*main*/
.nav-out {
  background-color: #e0e0e0;
  height: auto;
}
.btn-log {
  background-color: white;
  border: 3px solid white;
  border-radius: 7px;
  color: #ff5809;
}
.btn-log:hover {
  background-color: #ff8040;
  color: white;
}
.title:hover {
  color: rgb(51, 50, 50);
}
.navtitle {
  color: #ff5809;
}
/*index*/
.sort,
.sort-down {
  width: 500px;
  border: 1.5px solid black;
  border-radius: 0px;
}
.sort-down {
  border: 2px solid #e0e0e0;
}
.total-box {
  width: 450px;
  height: 150px;
}
.total {
  display: inline;
  font-size: 100px;
  font-weight: 300;
  color: #ff8040;
}
/*data-panel*/
i {
  color: #7ad8e4;
}
.expense {
  width: 550px;
}
.row-panel {
  height: 40px;
}
.ex-btn {
  font-size: 10px;
}
.fas {
  font-size: 32px;
}
.date {
  font-size: 10px;
}
.btn-create {
  outline: none;
  border: 1.5px solid black;
  background-color: #ff5809;
  color: white;
  width: 200px;
}
.btn-create:hover {
  outline: none;
  border: 1.5px solid white;
  background-color: #ff8040;
  color: white;
  transform: scale(1.5, 1.5);
  transition: all 0.1s ease-out;
}
/*new*/
.form-new {
  font-size: 20px;
}
.form-group-new {
  margin: 20px;
  padding: 10px;
}
.input-new,
.select-new {
  border: 1.5px solid black;
  border-radius: 0px;
  width: 300px;
  height: 60px;
}
.select-new {
  margin-left: 13px;
  width: 306px;
}
.btn-new {
  border: 1.5px solid black;
}
/*nav affect*/
.dollars {
  padding-left: 5px;
  font-size: 20px;
  color: black;
}
/*login*/
.login,
.register {
  width: 80vw;
}
.row-login {
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.left {
  background-color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: url("https://cdn.gobankingrates.com/wp-content/uploads/2019/07/Businessman-in-Hamster-Wheel-iStock-1157701608.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 640px;
}
.login-text {
  color: #46a3ff;
}
.one-login,
.one-text {
  height: 30px;
}
.one-text {
  font-size: 15px;
}
.login-fb {
  color: #4267b2;
  font-size: 25px;
  margin-left: 5px;
}
.login-google {
  color: #ea4335;
  font-size: 25px;
  margin-left: 10px;
}
/*register*/
.register-left {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-size: 750px;
  background-image: url("http://www.dailynature.net/wp-content/uploads/2019/11/Pile-of-dollars1.jpg");
  background-attachment: local;
}
